body {
    font-size: 20px;
    background-color: lightskyblue;
}

#personal-information {
    overflow: auto;
    margin: 10vh 10vw;
    background-color: white;
}

#pfp-column {
    float: left;
}

#pfp {
    padding: 30px;
}

#info-column {
    float: left;
}

#skills {
    margin: 10vh 10vw;
    background-color: white;
}

#skills-grid {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.skill {
    padding: 10px;
    border-style: solid;
    border-color: blue;
    text-align: center;
    background-color: gold;
}

.level {
    padding: 10px;
    border-style: solid;
    border-color: blue;
    text-align: center;
    background-color: darkseagreen;
}